POSTGRES_DB=luminascale
POSTGRES_USER=luminascale
POSTGRES_PASSWORD=change-me
MONGO_DATABASE=luminascale
API_KEY=local-demo-key
AWS_REGION=ap-southeast-2
LOAD_EVENTS_PER_MINUTE=20000
LOAD_DURATION_SECONDS=120

